body { 
    margin: 0;
    padding: 0;
}

.container {
    width: 950px;
    margin: 0 auto;
}

header {
    position: fixed;
    z-index: 999;
    width: 100%;
    background: rgba(255, 255, 68, .8);  
    border-bottom: 1px solid rgba(36, 36, 33, .5);
}

.page_container {
    min-height: 75vh;
    padding-top: 125px;
}

.page_wrapper {
    padding-top: 10px;
}

header #logo {
    color: black;
    font-size: 40px;
    font-family: 'Anton';
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bolder;
}

header .container {
    display: flex;
}

header a {
    margin-left: 20px;
    text-decoration: none;
}

header .container .left {
    width: 250px;
}

header .container .right {
    flex-grow: 1;
    /* border-left: 1px solid #f8333c;
    border-right: 1px solid #f8333c; */
}

header .container .right .top,
header .container .right .bottom {
    text-transform: uppercase;
    font-weight: 700;
    text-align: right;
    /* color: #f8333c; */
    font-size: 15px;
    padding: 10px 20px;
}

/* footer */

.footerBgColor {
    background-color: rgba(255, 255, 68, .8);
    position: relative;
    margin-top: 100px;
    /* negative value of footer height */
    height: 180px;
    clear: both;
}

footer .logo {
    text-align: center;
    font-family: 'oswald', sans-serif;
    color: black;
    font-size: 40px;
    padding: 11px 0px;
    border-bottom: 1px solid #4d4d4d;
}


/* Buttons */
.link_default,
button {
    text-transform: uppercase;
    padding: 10px;
    display: table;
    background:red;
    margin-top: 10px;
}

button,
.link_default {
    cursor: pointer;
    text-transform: uppercase;
    padding: 10px;
    background: rgb(255, 255, 50, .8);
    color: black;
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    text-decoration: none;
}


/* ================== */
/* Register/login */
/* ================== */
.registerHeader {
    text-align: center;
    font-size: 3em;
}

.register_login_container {
    display: flex;
    border: 1px solid #999592;
    border-top: 5px solid #999592;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 80px 0px 110px 0px;
    padding: 20px;
    min-height: 430px;
}

.register_login_container .left,
.register_login_container .right {
    flex: 1
}

.register_login_container h2 {
    margin: 20px 0px;
    text-transform: uppercase;
    color: #686868;
}

.register_login_container p {
    font-weight: 300;
    font-size: 16px;
    width: 90%;
}


/* forms */
/* ================== */
/* Form */
/* ================== */

input {
    font-size: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 10px;
    width: 100%;
    margin: 10px 0px 0px 0px;
}

.error_label {
    color: #F44336;
    display: block;
    font-size: 15px;
}

textarea {
    width: 100%;
    height: 51px;
    font-size: 15px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    border: 1px solid #d1d1d1;
}

.form_devider {
    border-bottom: 3px solid #999592;
    margin: 40px 0px;
}

.label_inputs {
    display: inline-block;
    background: #999592;
    color: #fff;
    padding: 5px 5px;
}

select {
    font-size: 16px;
    height: 38px;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    width: 100%;
    margin: 10px 0px 0px 0px;
}

.formBlock {
    margin-bottom: 10px;
}

.form_block_two {
    display: flex;
}

.form_block_two .block {
    flex-grow: 1;
    box-sizing: border-box;
}

.form_block_two .block:nth-child(1) {
    padding-right: 10px;
}

.form_block_two .block:nth-child(2) {
    padding-left: 10px;
}

.form_success {
    background: #4CAF50;
    color: #ffffffff;
    padding: 10px;
    display: block;
}